/* max_off_the_code: Normalize the sheets */

@font-face {
    font-family: 'Roboto';
    src: url('font-family/woff_fonts/Roboto-Regular.woff2') format('woff2'),
        url('font-family/woff_fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* use a more-intuitive box-sizing model */

*, *::before, *::after {
 box-sizing: border-box;
 font-family: "Roboto", Arial, Helvetica, sans-serif;
}
/*  remove default margin */
* {
 margin: 0;
}


/* remove lists default styles without ruining IOS screen reader accessibility  */
ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

/* enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
 html {
   interpolate-size: allow-keywords;
 }
}
body {
 /* add accessible line-height */
 line-height: 1.5;
 /* improve text rendering */
 -webkit-font-smoothing: antialiased;
}
/* improve media defaults */
img, picture, video, canvas, svg {
 display: block;
 max-width: 100%;
}
/* inherit fonts for form controls */
input, button, textarea, select {
 font: inherit;
}
/* avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
 overflow-wrap: break-word;
}
/* improve line wrapping */
p {
 text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
 text-wrap: balance;
}

/* Actual Styling */

body {
    height: 100vh;
    width: 100vw;
    background-color: #0E0E0E;

    background-image: url(image/dashboard-project.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display: grid;
    align-items: center;
}

.dashboard_container {
    width: clamp(500px, 100%, 1312px);
    height: min(100%, calc(100vw * 12/17));

    justify-self: center;

    display: grid;
    grid-template: 17.2fr 82.7fr / 21.06fr 78.93fr; 
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    /* background: #ffffff; */
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    /* background: #e2e8f0; */
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    /* background: #1992d4; */
    display: grid;
    grid-template-columns: 25fr 75fr;
    grid-template-rows: 10fr 30fr 60fr;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

svg {
    fill: #ffffff;
}

.logo-icon {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

